@import "variables.css";

* {
  margin: 0;
  padding: 0;
}

body > * {
  width: 600px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  background-color: var(--background-color-header-footer);
  font-family: var(--font-family-headlines-nav);
}

header h1 {
  padding: 2rem;
}

.footer {
  position: fixed;
  bottom: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color-header-footer);
  font-family: var(--font-family-headlines-nav);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

footer img {
  width: 20%;
}

a {
  text-decoration: none;
  color: var(--text-color-main);
}

a:hover {
  color: var(--border-color-card-link-hover);
}
