@import "variables.css";

* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  background-color: var(--background-color-header-footer);
  font-family: var(--font-family-content);
}

header h1 {
  padding: 1.5rem;
}
