@import "variables.css";

* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  background-color: var(--background-color-header-footer);
  font-family: var(--font-family-headlines-nav);
  border-radius: var(--standard-border-radius);
}

header h1 {
  padding: 2rem;
}

main {
  display: flex;
  margin-top: 7rem;
  justify-content: center;
  align-items: center;
  color: var(--background-color-main);
}

.card-section {
  display: flex;
  border-radius: var(--standard-border-radius);
  border-color: var(--border-color-card-link-hover);
  border: solid 1px;
  width: 95%;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px var(--background-color-header-footer);
  font-family: var(--font-family-content);
  position: relative;
}

.question-card {
  display: flex;
  flex-direction: column;
}

.bookmark {
  display: flex;
  position: relative;
  width: 30%;
  top: -5px;
  left: 180px;
}

.question {
  padding: 30px;
  text-align: center;
}

.answer {
  color: var(--background-color-main);
}

.answer-button {
  margin: 50px;
  padding: 10px;
}

.bookmark img {
  position: relative;
  top: -5px;
  left: 180px;
  width: 30%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color-header-footer);
  font-family: var(--font-family-headlines-nav);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: var(--standard-border-radius);
}

footer img {
  width: 20%;
}
