@import "variables.css";

* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  background-color: var(--background-color-header-footer);
  font-family: var(--font-family-headlines-nav);
}

header h1 {
  padding: 2rem;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: var(--background-color-header-footer);
  font-family: var(--font-family-headlines-nav);
  padding: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--text-color-main);
}

a:hover {
  color: var(--border-color-card-link-hover);
}
