@import "variables.css";

* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  background-color: var(--background-color-header-footer);
  font-family: var(--font-family-headlines-nav);
  border-radius: var(--standard-border-radius);
}

header h1 {
  padding: 2rem;
}

/* styles for question-page */

main {
  /* display: flex; */
  margin-top: 7rem;
  justify-content: center;
}

.card-section {
  padding-bottom: 110px;
}

.card-container {
  display: flex;
  flex-direction: column;
  border-radius: var(--standard-border-radius);
  border: solid 1px;
  width: 95%;
  justify-content: center;
  box-shadow: 10px 10px 10px var(--background-color-answer-button);
  font-family: var(--font-family-content);
  position: relative;
  background-color: var(--background-color-main);
  margin: 30px 5px 0 5px;
}

.bookmark {
  position: absolute;
  width: 50px;
  top: 0;
  right: 0;
  transform: translate(-50%, -25%);
}

.question {
  padding: 50px 50px 0 50px;
  text-align: center;
}

.answer {
  text-align: center;
  padding: 0px 30px 30px 30px;
  color: var(--text-color-main);
  font-weight: bold;
}

.hidden {
  display: none;
}

.answer-button {
  margin: 30px;
  padding: 15px;
  background-color: var(--background-color-header-footer);
  border: none;
  border-radius: var(--standard-border-radius);
  font-weight: bold;
  width: fit-content;
  align-self: center;
}

.answer-button:hover {
  background-color: var(--background-color-answer-button);
}

.tag {
  flex-direction: row;
}
.tag-button {
  width: fit-content;
  margin: 0 0 5px 5px;
  padding: 10px;
  background-color: var(--bookmark-color);
  border: none;
  border-radius: var(--standard-border-radius);
}

.bookmark img {
  position: relative;
  top: -5px;
  left: 180px;
  width: 30%;
}

/* styles for profile page */

.profile-main {
  display: flex;
  flex-direction: column;
  margin-bottom: 110px;
  width: 100%;
}

.form-main {
  margin-bottom: 110px;
}

.profile-container {
  display: flex;
  border-radius: var(--standard-border-radius);
  border: solid 1px;
  gap: 20px;
  align-items: center;
  box-shadow: 10px 10px 10px var(--background-color-answer-button);
  font-family: var(--font-family-content);
  background-color: var(--background-color-main);
  margin: 30px 5px 0 5px;
  flex-wrap: wrap;
  padding: 15px;
}

.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.name {
  font-family: var(--font-family-headlines-nav);
}

.profilepic {
  width: 100px;
  border-radius: 100px;
}

.bio {
  margin-top: 15px;
  line-height: 1.5rem;
}

.settings-container {
  flex-direction: column;
}

.dark-mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin: 5px;
}

/* Togglebar => pasted in from W3-school */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* footer for all pages */

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color-header-footer);
  font-family: var(--font-family-headlines-nav);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: var(--standard-border-radius);
}

footer img {
  width: 6%;
}

footer a {
  margin: 0;
  padding: 0;
  display: contents;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-main: gray;
    --text-color-main: black;
    --background-color-header-footer: lightgray;
    --background-color-answer-button: darkgrey;
    --bookmark-color: gray;
  }
}

/* form-page */

.question-submit {
  flex-direction: column;
  display: block;
  padding: 20px;
  width: 100%;
}

form > * {
  margin: 15px 0 0px 0;
  width: 100%;
}

.submit-button-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  margin: 30px;
  padding: 15px;
  background-color: var(--background-color-header-footer);
  border: none;
  border-radius: var(--standard-border-radius);
  font-weight: bold;
  width: fit-content;
}

.submit-button:hover {
  background-color: var(--background-color-answer-button);
}

.remaining-characters {
  text-align: right;
  font-size: 0.8rem;
  color: grey;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 5px;
}

label {
  font-style: italic;
}
